%h1 Welcome to the Media Library

%h2 Recently Uploaded Movies:
%ul
  %li 500 Day of Summer
  %li A Clockwork Orange
  %li A Scanner Darkly
  %li Alice In Wonderland
  %li American Beauty

%h2 Recently Uploaded TV Shows:
%ul
  %li Seinfeld: Season 1 Episode 1
  %li Seinfeld: Season 1 Episode 2
  %li Seinfeld: Season 1 Episode 3
  %li Seinfeld: Season 1 Episode 4
  %li Seinfeld: Season 1 Episode 5

%h2 Recently Uploaded Music:
%ul
  %li Light My Fire - The Doors - The Doors
  %li Fade To Black - Metallica - Ride The Lightening
  %li Machine Head - Bush - Sixteen Stone
  %li Sunday Morning - No Doubt - Orange County Suite
  %li Tell All The People - The Doors - The Soft Parade
